.footer {
	background-color: black;
	padding: 50px;

	p {
		font-size: 2rem;
		text-align: center;
		color: var(--primary-color);
	}
}


@media all and (max-width: 700px)  {
	.footer {
		padding: 15px;
		
		p {
			font-size: 1.4rem;
		}
	}
}