.hero-section {
	position: relative;
	background: black;
	min-height: calc(100vh - 85px);
	overflow: hidden;
	top: 85px;

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: url("/background.png");
		opacity: 0.25;
		background-size: cover;
		background-position: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		margin-bottom: 150px;

		.title {
			margin: 50px 0;
			font-size: 6.4rem;
			color: var(--primary-color);
		}

		.count-down {
			display: flex;
			gap: 50px;

			.block {
				display: flex;
				flex-direction: column;
				align-items: center;

				.count {
					width: 150px;
					height: 150px;
					text-align: center;
					line-height: 150px;
					background-color: #222;
					border-radius: 50px;
					font-size: 7rem;
					margin-bottom: 25px;
				}

				span {
					font-size: 3rem;
					color: var(--primary-color);
				}
			}
		}

		.register {
			margin: 100px 0;
			
			button {
				padding: 25px 30px;
				background-color: var(--primary-color);
				color: black;
				font-weight: 700;
				border: none;
				border-radius: 5px;
				letter-spacing: 4px;
				overflow: hidden;
				transition: 0.2s;
				cursor: pointer;
				text-transform: uppercase;

				&:hover {
					background: #03e9f4;
					color: #050801;
					box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 200px #03e9f4;
					-webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3333333333));
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	.hero-section .content .count-down {
		gap: 20px;
	}
	.hero-section .content .count-down .block .count {
		width: 150px;
		height: 150px;
		text-align: center;
		line-height: 150px;
		background-color: #222;
		border-radius: 50px;
		font-size: 7.8rem;
		margin-bottom: 25px;
	}

	.hero-section .content .count-down .block span {
		font-size: 2.2rem;
	}
}

@media only screen and (max-width: 830px) {
	.hero-section .content .title {
		font-size: 3.4rem;
	}

	.hero-section .content .count-down {
		gap: 15px;
	}

	.hero-section .content .count-down .block .count {
		width: 70px;
		height: 70px;
		line-height: 70px;
		border-radius: 15px;
		font-size: 3.8rem;
	}

	.hero-section .content .count-down .block span {
		font-size: 1.5rem;
	}
}
