.hero-section {
	position: relative;
	background: black;
	min-height: calc(100vh - 85px);
	overflow: hidden;

	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: url(./background.png);
		opacity: 0.25;
		background-size: cover;
		background-position: center;
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;

		.title {
			margin: 100px 0;
			font-size: 6.4rem;
			color: var(--primary-color);
		}

		.count-down {
			display: flex;
			gap: 50px;

			.block {
				display: flex;
				flex-direction: column;
				align-items: center;

				.count {
					width: 200px;
					height: 200px;
					text-align: center;
					line-height: 200px;
					background-color: #222;
					border-radius: 50px;
					font-size: 10.8rem;
					margin-bottom: 25px;
				}

				span {
					font-size: 3rem;
					color: var(--primary-color);
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	.hero-section .content .count-down {
		gap: 20px;
	}
	.hero-section .content .count-down .block .count {
		width: 150px;
		height: 150px;
		text-align: center;
		line-height: 150px;
		background-color: #222;
		border-radius: 50px;
		font-size: 7.8rem;
		margin-bottom: 25px;
	}

	.hero-section .content .count-down .block span {
		font-size: 2.2rem;
	}
}

@media only screen and (max-width: 830px) {
	.hero-section .content .title {
		font-size: 3.4rem;
	}

	.hero-section .content .count-down {
		gap: 15px;
	}

	.hero-section .content .count-down .block .count {
		width: 70px;
		height: 70px;
		text-align: center;
		line-height: 70px;
		background-color: #222;
		border-radius: 50px;
		font-size: 3.8rem;
		margin-bottom: 25px;
	}

	.hero-section .content .count-down .block span {
		font-size: 1.5rem;
	}
}
