.notice {
	background-color: #121212;
	padding: 50px;

	.title {
		font-size: 6.4rem;
		color: var(--primary-color);
		text-align: center;
		margin: 100px 0;
	}

	.item {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
		max-width: 400px;
		margin: 20px;

		img {
			width: 100%;
			pointer-events: none;
		}

		video {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 830px) {
	.notice .title {
		font-size: 3.4rem;
	}
}
